*{
    box-sizing: border-box;
  }
  .regContainer{
    background: #96bbff;
    width: 100%;
    height: 100vh;
  }
  
  .bg-navColor{
    background: #000;
  }
  
  .regCard {
    width: 100%;
    max-width: 400px;
    margin: auto;
    margin-top: 50px;
    background:white;
    color: black;
  }
  
  .regButton {
    width: 100%;
    display: block;
  }